In [1]:
import pandas as pd

# Data loading and merging
* Read the food deserts csv from USDA and the csv with corresponding Lat Long info, downloaded from Census
* Merge both csv's

In [2]:
main = pd.read_csv("DataDownload.csv")

In [9]:
main

,CensusTract,State,County,LILATracts_1And10,LILATracts_halfAnd10,LILATracts_1And20,LILATracts_Vehicle,Urban,Rural,LA1and10,...,lapop20,lapop20share,lalowi20,lalowi20share,lakids20,lakids20share,laseniors20,laseniors20share,lahunv20,lahunv20share
0,1001020100,AL,Autauga,0,0,0,0,1,0,1,...,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
1,1001020200,AL,Autauga,0,0,0,0,1,0,0,...,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
2,1001020300,AL,Autauga,0,0,0,0,1,0,1,...,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
3,1001020400,AL,Autauga,0,0,0,0,1,0,1,...,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
4,1001020500,AL,Autauga,0,0,0,0,1,0,1,...,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
72859,56043000200,WY,Washakie,0,0,0,0,0,1,1,...,730.06736,0.219503,199.964881,0.060122,144.150074,0.163066,190.883603,0.321895,4.633804,0.003518
72860,56043000301,WY,Washakie,0,1,0,0,1,0,0,...,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
72861,56043000302,WY,Washakie,0,0,0,0,1,0,0,...,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
72862,56045951100,WY,Weston,0,0,0,0,0,1,1,...,189.51672,0.057187,43.783926,0.013212,40.920094,0.062473,43.840236,0.087856,2.795764,0.002115
72863,56045951300,WY,Weston,0,0,0,0,1,0,1,...,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000

In [45]:
latlong = pd.read_csv("2020_Gaz_tracts_national.csv")

In [46]:
latlong

,USPS,GEOID,ALAND,AWATER,ALAND_SQMI,AWATER_SQMI,INTPTLAT,INTPTLONG
0,AL,1001020100,9825304.0,28435,3.794,0.011,32.481973,-86.491565
1,AL,1001020200,3320818.0,5669,1.282,0.002,32.475758,-86.472468
2,AL,1001020300,5349271.0,9054,2.065,0.003,32.474024,-86.459703
3,AL,1001020400,6384282.0,8408,2.465,0.003,32.471030,-86.444835
4,AL,1001020501,6203654.0,0,2.395,0.000,32.447861,-86.422558
...,...,...,...,...,...,...,...,...
85390,PR,72153750501,1820185.0,0,0.703,0.000,18.031211,-66.867347
85391,PR,72153750502,689931.0,0,0.266,0.000,18.024746,-66.860442
85392,PR,72153750503,3298433.0,1952,1.274,0.001,18.023148,-66.876603
85393,PR,72153750601,10985103.0,4527,4.241,0.002,18.017808,-66.839070
85394,PR,72153750602,17522417.0,252953,6.765,0.098,17.985025,-66.853531

* **Rename GEOID column, which is the census tract id, in order to create a commom column for merging**

* **Drop irrelevant columns**

In [47]:
latlong.rename(columns = {'GEOID':'CensusTract'}, inplace = True)

In [48]:
latlong = latlong.drop(['USPS', 'ALAND', 'AWATER', 'ALAND_SQMI', 'AWATER_SQMI'], axis=1)

In [49]:
latlong.head()

   CensusTract   INTPTLAT  INTPTLONG
0   1001020100  32.481973 -86.491565
1   1001020200  32.475758 -86.472468
2   1001020300  32.474024 -86.459703
3   1001020400  32.471030 -86.444835
4   1001020501  32.447861 -86.422558

In [50]:
final_csv = pd.merge(main, latlong, how='left', on='CensusTract')

# Data cleaning

* Rename Lat Long columns
* Check for and drop all rows that contain NaN values
* Export the final dataframe to a csv file

In [53]:
final_csv.rename(columns = {'INTPTLAT': 'Latitude', 'INTPTLONG': 'Longitude'}, inplace=True)

In [54]:
final_csv.head()

,CensusTract,State,County,LILATracts_1And10,LILATracts_halfAnd10,LILATracts_1And20,LILATracts_Vehicle,Urban,Rural,LA1and10,...,lalowi20,lalowi20share,lakids20,lakids20share,laseniors20,laseniors20share,lahunv20,lahunv20share,Latitude,Longitude
0,1001020100,AL,Autauga,0,0,0,0,1,0,1,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,32.481973,-86.491565
1,1001020200,AL,Autauga,0,0,0,0,1,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,32.475758,-86.472468
2,1001020300,AL,Autauga,0,0,0,0,1,0,1,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,32.474024,-86.459703
3,1001020400,AL,Autauga,0,0,0,0,1,0,1,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,32.471030,-86.444835
4,1001020500,AL,Autauga,0,0,0,0,1,0,1,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN

In [56]:
print(final_csv.Latitude.isnull())

0        False
1        False
2        False
3        False
4         True
         ...
72859    False
72860    False
72861    False
72862    False
72863    False
Name: Latitude, Length: 72864, dtype: bool

In [57]:
print(final_csv.Longitude .isnull())

0        False
1        False
2        False
3        False
4         True
         ...
72859    False
72860    False
72861    False
72862    False
72863    False
Name: Longitude, Length: 72864, dtype: bool

In [58]:
final_csv = final_csv.dropna()

In [59]:
final_csv

,CensusTract,State,County,LILATracts_1And10,LILATracts_halfAnd10,LILATracts_1And20,LILATracts_Vehicle,Urban,Rural,LA1and10,...,lalowi20,lalowi20share,lakids20,lakids20share,laseniors20,laseniors20share,lahunv20,lahunv20share,Latitude,Longitude
0,1001020100,AL,Autauga,0,0,0,0,1,0,1,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,32.481973,-86.491565
1,1001020200,AL,Autauga,0,0,0,0,1,0,0,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,32.475758,-86.472468
2,1001020300,AL,Autauga,0,0,0,0,1,0,1,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,32.474024,-86.459703
3,1001020400,AL,Autauga,0,0,0,0,1,0,1,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,32.471030,-86.444835
5,1001020600,AL,Autauga,0,0,0,0,1,0,1,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,32.447340,-86.476828
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
72859,56043000200,WY,Washakie,0,0,0,0,0,1,1,...,199.964881,0.060122,144.150074,0.163066,190.883603,0.321895,4.633804,0.003518,43.878830,-107.669052
72860,56043000301,WY,Washakie,0,1,0,0,1,0,0,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,44.014369,-107.956379
72861,56043000302,WY,Washakie,0,0,0,0,1,0,0,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,44.028771,-107.950748
72862,56045951100,WY,Weston,0,0,0,0,0,1,1,...,43.783926,0.013212,40.920094,0.062473,43.840236,0.087856,2.795764,0.002115,43.846213,-104.570020
72863,56045951300,WY,Weston,0,0,0,0,1,0,1,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,43.859649,-104.244513

In [60]:
final_csv.to_csv('combined.csv', header=True)