In [4]:
# Dependencies
import requests
import json
import gmaps
import pandas as pd

In [45]:
Wikiurl = 'https://en.wikipedia.org/wiki/List_of_states_and_territories_of_the_United_States'

In [47]:
# use read_html to scrape out tables and select the relevant table
tables = pd.read_html(Wikiurl)[0]
tables.head()

  Flag, name andpostal abbreviation[12]  \
  Flag, name andpostal abbreviation[12]
0                               Alabama
1                                Alaska
2                               Arizona
3                              Arkansas
4                            California

                                                Cities               \
  Flag, name andpostal abbreviation[12].1      Capital  Largest[16]
0                                      AL   Montgomery   Birmingham
1                                      AK       Juneau    Anchorage
2                                      AZ      Phoenix      Phoenix
3                                      AR  Little Rock  Little Rock
4                                      CA   Sacramento  Los Angeles

  Ratification oradmission[C] Population[D][14] Total area[15]           \
  Ratification oradmission[C] Population[D][14]            mi2      km2
0                Dec 14, 1819           4903185          52420   135767
1                 Jan 3, 1959            731545         665384  1723337
2                Feb 14, 1912           7278717         113990   295234
3                Jun 15, 1836           3017804          53179   137732
4                 Sep 9, 1850          39512223         163695   423967

  Land area[15]          Water area[15]         Numberof Reps.
            mi2      km2            mi2     km2 Numberof Reps.
0         50645   131171           1775    4597              7
1        570641  1477953          94743  245384              1
2        113594   294207            396    1026              9
3         52035   134771           1143    2961              4
4        155779   403466           7916   20501             53

In [58]:
tables.columns = tables.columns.droplevel()

In [60]:
tables.rename(columns = {'Flag, name andpostal abbreviation[12]':'State'}, inplace = True)

In [61]:
tables.head()

,State,"Flag, name andpostal abbreviation[12].1",Capital,Largest[16],Ratification oradmission[C],Population[D][14],mi2,km2,mi2,km2,mi2,km2,Numberof Reps.
0,Alabama,AL,Montgomery,Birmingham,"Dec 14, 1819",4903185,52420,135767,50645,131171,1775,4597,7
1,Alaska,AK,Juneau,Anchorage,"Jan 3, 1959",731545,665384,1723337,570641,1477953,94743,245384,1
2,Arizona,AZ,Phoenix,Phoenix,"Feb 14, 1912",7278717,113990,295234,113594,294207,396,1026,9
3,Arkansas,AR,Little Rock,Little Rock,"Jun 15, 1836",3017804,53179,137732,52035,134771,1143,2961,4
4,California,CA,Sacramento,Los Angeles,"Sep 9, 1850",39512223,163695,423967,155779,403466,7916,20501,53

In [66]:
tables = tables.drop(columns = ['Flag, name andpostal abbreviation[12].1', 'Capital', 'Largest[16]', 'Ratification oradmission[C]', 'Population[D][14]', 'mi2', 'km2', 'Numberof Reps.'])

In [67]:
tables.at[16, 'State']= "Kentucky"
tables.at[20, 'State']= "Massachusetts"
tables.at[37, 'State']= "Pennsylvania"
tables.at[45, 'State']= "Virginia"

In [68]:
tables

             State
0          Alabama
1           Alaska
2          Arizona
3         Arkansas
4       California
5         Colorado
6      Connecticut
7         Delaware
8          Florida
9          Georgia
10          Hawaii
11           Idaho
12        Illinois
13         Indiana
14            Iowa
15          Kansas
16        Kentucky
17       Louisiana
18           Maine
19        Maryland
20   Massachusetts
21        Michigan
22       Minnesota
23     Mississippi
24        Missouri
25         Montana
26        Nebraska
27          Nevada
28   New Hampshire
29      New Jersey
30      New Mexico
31        New York
32  North Carolina
33    North Dakota
34            Ohio
35        Oklahoma
36          Oregon
37    Pennsylvania
38    Rhode Island
39  South Carolina
40    South Dakota
41       Tennessee
42           Texas
43            Utah
44         Vermont
45        Virginia
46      Washington
47   West Virginia
48       Wisconsin
49         Wyoming

In [73]:
tables["Latitude"] = ""
tables["Longitude"] = ""
tables["Grocery Stores"] = ""

<ipython-input-73-4cdc897e42dc>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tables["Latitude"] = ""
<ipython-input-73-4cdc897e42dc>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tables["Longitude"] = ""
<ipython-input-73-4cdc897e42dc>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tables["Grocery Stores"] = ""

In [111]:
tables

,State,Lat,Lng,Grocery Stores,Latitude,Longitude
0,Alabama,32.3182,-86.9023,Winn-Dixie,32.3182,-86.9023
1,Alaska,64.2008,-149.494,Three Bears Healy,64.2008,-149.494
2,Arizona,34.0489,-111.094,Speedway,34.0489,-111.094
3,Arkansas,35.2011,-91.8318,Walmart Supercenter,35.2011,-91.8318
4,California,36.7783,-119.418,Walmart Supercenter,36.7783,-119.418
5,Colorado,39.5501,-105.782,Walmart,39.5501,-105.782
6,Connecticut,41.6032,-73.0877,Stew Leonard's,41.6032,-73.0877
7,Delaware,38.9108,-75.5277,Walmart Supercenter,38.9108,-75.5277
8,Florida,27.6648,-81.5158,Walmart Supercenter,27.6648,-81.5158
9,Georgia,32.1656,-82.9001,Cash Saver,32.1656,-82.9001
10,Hawaii,19.8968,-155.583,Foodland,19.8968,-155.583
11,Idaho,44.0682,-114.742,Mountain Village Mercantile,44.0682,-114.742
12,Illinois,40.6331,-89.3985,Walmart Supercenter,40.6331,-89.3985
13,Indiana,40.2672,-86.1349,Meijer,40.2672,-86.1349
14,Iowa,41.878,-93.0977,Walmart Supercenter,41.878,-93.0977
15,Kansas,39.0119,-98.4842,Klema Hometown Market,39.0119,-98.4842
16,Kentucky,37.8393,-84.27,ALDI,37.8393,-84.27
17,Louisiana,30.9843,-91.9623,Walmart Supercenter,30.9843,-91.9623
18,Maine,45.2538,-69.4455,Walmart Supercenter,45.2538,-69.4455
19,Maryland,39.0458,-76.6413,Walmart,39.0458,-76.6413
20,Massachusetts,42.4072,-71.3824,Market Basket,42.4072,-71.3824
21,Michigan,44.3148,-85.6024,Meijer,44.3148,-85.6024
22,Minnesota,46.7296,-94.6859,Jon's Family Foods,46.7296,-94.6859
23,Mississippi,32.3547,-89.3985,Piggly Wiggly,32.3547,-89.3985
24,Missouri,37.9643,-91.8318,Walmart Supercenter,37.9643,-91.8318
25,Montana,46.8797,-110.363,D's supermarket,46.8797,-110.363
26,Nebraska,41.4925,-99.9018,Grocery Kart,41.4925,-99.9018
27,Nevada,38.8026,-116.419,,38.8026,-116.419
28,New Hampshire,43.1939,-71.5724,,43.1939,-71.5724
29,New Jersey,40.0583,-74.4057,,40.0583,-74.4057
30,New Mexico,34.5199,-105.87,,34.5199,-105.87
31,New York,40.7128,-74.006,,40.7128,-74.006
32,North Carolina,35.7596,-79.0193,,35.7596,-79.0193
33,North Dakota,47.5515,-101.002,,47.5515,-101.002
34,Ohio,40.4173,-82.9071,,40.4173,-82.9071
35,Oklahoma,35.4676,-97.5164,,35.4676,-97.5164
36,Oregon,43.8041,-120.554,,43.8041,-120.554
37,Pennsylvania,41.2033,-77.1945,,41.2033,-77.1945
38,Rhode Island,41.5801,-71.4774,,41.5801,-71.4774
39,South Carolina,33.8361,-81.1637,,33.8361,-81.1637
40,South Dakota,43.9695,-99.9018,,43.9695,-99.9018
41,Tennessee,35.5175,-86.5804,,35.5175,-86.5804
42,Texas,31.9686,-99.9018,,31.9686,-99.9018
43,Utah,39.321,-111.094,,39.321,-111.094
44,Vermont,44.5588,-72.5778,,44.5588,-72.5778
45,Virginia,37.4316,-78.6569,,37.4316,-78.6569
46,Washington,47.7511,-120.74,,47.7511,-120.74
47,West Virginia,38.5976,-80.4549,,38.5976,-80.4549
48,Wisconsin,43.7844,-88.7879,,43.7844,-88.7879
49,Wyoming,43.076,-107.29,,43.076,-107.29

In [75]:
# create a params dict that will be updated with new city each iteration
params = {"key": "AIzaSyBiTRcGCSJDHIgUPNKGVzTBYmd6uliMzRU"}

# Loop through the cities_pd and run a lat/long search for each state
for index, row in tables.iterrows():
    base_url = "https://maps.googleapis.com/maps/api/geocode/json"

    state = row['State']

    # update address key value
    params['address'] = f"{state}"

    # make request
    state_lat_lng = requests.get(base_url, params=params)
    
    # convert to json
    state_lat_lng = state_lat_lng.json()

    tables.loc[index, "Latitude"] = state_lat_lng["results"][0]["geometry"]["location"]["lat"]
    tables.loc[index, "Longitude"] = state_lat_lng["results"][0]["geometry"]["location"]["lng"]

# Visualize to confirm lat lng appear
tables.head()

/Users/aditirai/opt/anaconda3/envs/PythonData/lib/python3.8/site-packages/pandas/core/indexing.py:670: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iloc._setitem_with_indexer(indexer, value)
<ipython-input-75-4e52c3defd9b>:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tables.loc[index, "Latitude"] = state_lat_lng["results"][0]["geometry"]["location"]["lat"]
<ipython-input-75-4e52c3defd9b>:20: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tables.loc[index, "Longitude"] = state_lat_lng["results"][0]["geometry"]["location"]["lng"]

        State      Lat      Lng Grocery Stores Latitude Longitude
0     Alabama  32.3182 -86.9023                 32.3182  -86.9023
1      Alaska  64.2008 -149.494                 64.2008  -149.494
2     Arizona  34.0489 -111.094                 34.0489  -111.094
3    Arkansas  35.2011 -91.8318                 35.2011  -91.8318
4  California  36.7783 -119.418                 36.7783  -119.418

**Extract California Stores**

In [5]:
# referenced from https://stackoverflow.com/questions/46578128/pandas-read-jsonjson-url
from urllib.request import urlopen

In [20]:
CA_stores = urlopen("https://maps.googleapis.com/maps/api/place/nearbysearch/json?location=36.7783,%20-119.418&radius=50000&keyword=Grocery%20store&key=AIzaSyBiTRcGCSJDHIgUPNKGVzTBYmd6uliMzRU")
json_data = CA_stores.read()

In [21]:
d = json.loads(json_data)

In [22]:
df = pd.json_normalize(d['results'])

In [24]:
df.head()

,business_status,icon,name,photos,place_id,rating,reference,scope,types,user_ratings_total,...,geometry.location.lat,geometry.location.lng,geometry.viewport.northeast.lat,geometry.viewport.northeast.lng,geometry.viewport.southwest.lat,geometry.viewport.southwest.lng,opening_hours.open_now,plus_code.compound_code,plus_code.global_code,price_level
0,OPERATIONAL,https://maps.gstatic.com/mapfiles/place_api/ic...,Foods Co.,"[{'height': 1080, 'html_attributions': ['<a hr...",ChIJB8nvifxelIARmNw4BbtMCq4,4.1,ChIJB8nvifxelIARmNw4BbtMCq4,GOOGLE,"[grocery_or_supermarket, food, point_of_intere...",635,...,36.734168,-119.735028,36.735687,-119.733697,36.732987,-119.736397,True,"P7M7+MX Fresno, California",8582P7M7+MX,NaN
1,OPERATIONAL,https://maps.gstatic.com/mapfiles/place_api/ic...,Foods Co.,"[{'height': 3120, 'html_attributions': ['<a hr...",ChIJaQGpjhhmlIARHJt1D7AQqJo,4.2,ChIJaQGpjhhmlIARHJt1D7AQqJo,GOOGLE,"[grocery_or_supermarket, food, point_of_intere...",638,...,36.806153,-119.859586,36.807503,-119.858236,36.804803,-119.860936,True,"R44R+F5 Fresno, California",8582R44R+F5,NaN
2,OPERATIONAL,https://maps.gstatic.com/mapfiles/place_api/ic...,The Market,"[{'height': 3024, 'html_attributions': ['<a hr...",ChIJl18RwmVolIARVKJaCbEHWg4,4.5,ChIJl18RwmVolIARVKJaCbEHWg4,GOOGLE,"[grocery_or_supermarket, bakery, supermarket, ...",467,...,36.838813,-119.824941,36.839984,-119.823592,36.837285,-119.826291,True,"R5QG+G2 Fresno, California",8582R5QG+G2,NaN
3,OPERATIONAL,https://maps.gstatic.com/mapfiles/place_api/ic...,Food 4 Less,"[{'height': 3120, 'html_attributions': ['<a hr...",ChIJm1IUWiBDlIARlD7b0RQCpEE,4.3,ChIJm1IUWiBDlIARlD7b0RQCpEE,GOOGLE,"[grocery_or_supermarket, bakery, supermarket, ...",737,...,36.865278,-119.740556,36.866626,-119.738952,36.863927,-119.741652,True,"V785+4Q Fresno, California",8582V785+4Q,NaN
4,OPERATIONAL,https://maps.gstatic.com/mapfiles/place_api/ic...,Grocery Outlet,"[{'height': 4008, 'html_attributions': ['<a hr...",ChIJ38UlYXdclIAREay9Zzt-aDs,4.5,ChIJ38UlYXdclIAREay9Zzt-aDs,GOOGLE,"[grocery_or_supermarket, food, health, point_o...",379,...,36.809360,-119.701390,36.810647,-119.699981,36.807947,-119.702680,True,"R75X+PC Clovis, California",8582R75X+PC,1.0

In [25]:
df = df.drop(columns = ['business_status', 'icon', 'photos', 'place_id', 'rating', 'reference', 'scope', 'types', 'user_ratings_total', 'geometry.viewport.northeast.lat', 'geometry.viewport.northeast.lng', 'geometry.viewport.southwest.lat', 'geometry.viewport.southwest.lng', 'opening_hours.open_now', 'plus_code.global_code', 'price_level'])

In [26]:
df.head()

,name,vicinity,geometry.location.lat,geometry.location.lng,plus_code.compound_code
0,Foods Co.,"4838 E Kings Canyon Rd, Fresno",36.734168,-119.735028,"P7M7+MX Fresno, California"
1,Foods Co.,"3657 W Shaw Ave, Fresno",36.806153,-119.859586,"R44R+F5 Fresno, California"
2,The Market,"7088 N West Ave, Fresno",36.838813,-119.824941,"R5QG+G2 Fresno, California"
3,Food 4 Less,"8921 N Chestnut Ave, Fresno",36.865278,-119.740556,"V785+4Q Fresno, California"
4,Grocery Outlet,"1848 Clovis Ave, Clovis",36.809360,-119.701390,"R75X+PC Clovis, California"

In [27]:
df[['plus_code.compound_code','State']] = df['plus_code.compound_code'].str.split(',',expand=True)

In [28]:
df.head()

,name,vicinity,geometry.location.lat,geometry.location.lng,plus_code.compound_code,State
0,Foods Co.,"4838 E Kings Canyon Rd, Fresno",36.734168,-119.735028,P7M7+MX Fresno,California
1,Foods Co.,"3657 W Shaw Ave, Fresno",36.806153,-119.859586,R44R+F5 Fresno,California
2,The Market,"7088 N West Ave, Fresno",36.838813,-119.824941,R5QG+G2 Fresno,California
3,Food 4 Less,"8921 N Chestnut Ave, Fresno",36.865278,-119.740556,V785+4Q Fresno,California
4,Grocery Outlet,"1848 Clovis Ave, Clovis",36.809360,-119.701390,R75X+PC Clovis,California

In [29]:
df = df.drop(columns=['vicinity', 'plus_code.compound_code'])

In [30]:
df.head()

             name  geometry.location.lat  geometry.location.lng        State
0       Foods Co.              36.734168            -119.735028   California
1       Foods Co.              36.806153            -119.859586   California
2      The Market              36.838813            -119.824941   California
3     Food 4 Less              36.865278            -119.740556   California
4  Grocery Outlet              36.809360            -119.701390   California

In [31]:
df.to_csv("california_stores", header=True)